body {
	font-family: 'Nunito';
	font-weight: 300;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    border:0;
    font-size: 15px;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar .navbar-brand{
    font-size: 50px;
} 

.img-responsive {
    cursor: pointer;
}

.modal-content {
    background: transparent;
    height: 0;
}

footer {
     background-color: black;
     padding: 25px;
     color: white;
}
    
.carousel-inner img {
    width: 100%; 
    margin: auto;
    min-height:200px;
    max-height: 600px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
}






